.grid {
  display: grid;
  grid-template-areas:
    "header"
    "map"
    "cards";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  position: fixed;
  height: 100%;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-areas:
      "header header"
      "cards map";
    grid-template-rows: auto 1fr;
    grid-template-columns: 360px 1fr;
  }
}
